<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "inc-common-meta.twig" %}
    </head>
    <body>
        {% include "inc-common-meta.twig" %}
        <!-- place where pjax bindings happen's-->
        <div id="barba-wrapper">
            {% include "inc-common-header.twig" %}
            {% include "inc-common-mobilenav.twig" %}
            <!-- what should be changed with every pjax-->
            <div class="page">
                <main class="page__content">
                    {% include "inc-common-article-hero.twig" %}
                    {% if articles.short_text != '' %}
                        <section class="intro" data-aos="fade">
                            <div class="container mt-5 mb-5">
                                <div class="row">
                                    <div class="col-12 col-md-8 mx-auto text-center fs-1">
                                        {{ articles.short_text|raw }}
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                    <section class="video mb-3" data-aos="fade">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="ratio ratio-16x9">
                                        <video autoplay="" controls=""><source src="/tillingham_time-lapse.mp4" type="video/mp4">Your browser does not support the video tag.</video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    {{ banners[10]|raw }}

                    <section class="intro" data-aos="fade">
                        <div class="container mt-4 mb-4">
                            <div class="row">
                                <div class="col-12 col-md-8 offset-md-2">
                                    {{ articles.long_text|raw }}
                                </div>
                            </div>
                        </div>
                    </section>
                    {{ banners[11]|raw }}
                    {{ banners[12]|raw }}
                    {{ banners[13]|raw }}
                    {{ banners[14]|raw }}
                </main>
                {% include "inc-common-footer.twig" %}
            </div>
            {% include "inc-common-footerscripts.twig" %}
        </div>
    </body>
</html>