<!DOCTYPE html>

<html lang="en">

    <head>

        {% include "inc-common-meta.twig" %}

    </head>

    <body>

        <!-- place where pjax bindings happen's-->

        <div id="barba-wrapper">

            {% include "inc-common-header.twig" %}

            {% include "inc-common-mobilenav.twig" %}

            <!-- what should be changed with every pjax-->

            <div class="page">

                <main class="page__content">

                    {% include "inc-hp-header-video.twig" %}

                    {{banners[1]|raw}}

                    {{banners[2]|raw}}

                    {{banners[3]|raw}}

                    {% include "inc-news-reports.twig" %}

                    {% include "inc-common-projects.twig" %}

                    {{banners[4]|raw}}

                    {{banners[5]|raw}}

                    {% include "inc-common-feature.twig" %}

                </main>

                {% include "inc-common-footer.twig" %}

            </div>

            {% include "inc-common-footerscripts.twig" %}

        </div>

    </body>

</html>
